
.font {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.15;
	color: rgb(71 79 79);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

/* --- helper classes --- */

.block {
	display: block;
}
.relative {
	position: relative;
}
.xs {
	height: 20px;
	width: 20px;
}
.sm {
	height: 28px;
	width: 28px;
}
.md {
	height: 32px;
	width: 32px;
}
.lg {
	height: 48px;
	width: 48px;
}
.xl {
	height: 64px;
	width: 64px;
}
.xl2 {
	height: 128px;
	width: 128px;
}
.xl3 {
	height: 256px;
	width: 256px;
}

.title {
	color: white;
	font-size: 30px;
    font-weight: 600;
    margin-top: 2px;
	text-transform: uppercase;
}

.subtitle {
	color: rgb(71 79 79);
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
}

.text {
	color: rgb(135 144 143);
	font-size: 12px;
}

/* --- icon --- */
.icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
    background: black;
}
.iconLogo {
	display: block;
	margin-top: -3px;
	margin-left: 1px;
	height: 45%;
	width: 45%;
}

/* --- avatar --- */
.avatar {
	display: block;
    border: 1px solid rgb(34 38 38);
    border-radius: 50%;
    background: black;
}

.avatar:hover {
	border: 1px solid rgb(71 79 79)
}

.avatarOpLogo {
    position: absolute;
    bottom: 0;
    right: 8px;
}

/* --- card --- */

.card {
	align-items: center;
	display: flex;
	border: 1px solid rgb(34 38 38);
    border-radius: 8px;
	background: rgb(7 7 8);
	justify-content: center;
	padding: 10px 20px;
	text-decoration: none;
	width: 400px;
}

.card:hover {
	border: 1px solid rgb(71 79 79)
}

.cardContent {
	display: flex;
	gap: 10px;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px 20px;
}

.cardOpLogo {
    position: absolute;
    bottom: 8px;
    right: 8px;
}